@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy";
  src: url(../../public/fonts/gilroy.ttf);
  font-weight: normal;
  font-style: normal;
}

.gilroy {
  font-family: "gilroy";
}

.slides::-webkit-scrollbar {
  display: none;
}

/* Optional: You may also want to hide the scrollbar track */
.slides::-webkit-scrollbar-track {
  display: none;
}

/* Optional: You may also want to style the scrollbar thumb */
.slides::-webkit-scrollbar-thumb {
  display: none;
}
