@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contact us instagram gradient */
.insta-gradient {
  background: radial-gradient(
    96.79% 96.79% at 23.21% 91.07%,
    rgba(254, 180, 1, 0.2) 0%,
    rgba(255, 70, 41, 0.2) 28.64%,
    rgba(255, 70, 41, 0.2) 55.69%,
    rgba(179, 4, 245, 0.2) 100%
  );
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides::-webkit-scrollbar-track {
  display: none;
}

.slides::-webkit-scrollbar-thumb {
  display: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 2px;
  background-clip: content-box;
  border: 1px solid #ff5c00;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #ff5c00;
}

@media screen and (max-width: 600px) {
  input[type="radio"] {
    width: 35px;
    height: 22px;
  }
}
