@font-face {
  font-family: "gilroy";
  src: url(../public/fonts/gilroy-font/Gilroy-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.gilroy {
  font-family: "gilroy";
}
